body {
    margin: 0;
    background-color: #f6f5f5;
    padding: 0 ;

}

ul {

    list-style: none;
}

a{
    text-decoration: none;

}

section{
    width: 100%;
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./img/bg-hero.jpg") ;
}

nav{
    align-items: center;
    height: 60px;
    justify-content: space-between;
    display: flex;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}

nav ul {
    display: flex;
}

nav ul li a{
    margin: 30px;
    color: #505050;
    font-size:15px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif ;
}

.h-logo{
    font-family: Arial;
    color: rgba(12, 8, 8, 0.993);
    font: size 22px;
   
}

.active{
    font-weight: 800;
    color: #2d2a2a;

}

.text-m-box p:nth-child(1){
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #6d6d6d;
    font-size: 22px;
}

.text-m-box p:nth-child(2){

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
}

.text-m-box p:nth-child(3){

    font-family: Arial, Helvetica, sans-serif;
    color: #403e3e;
    font-size:30px;
    line-height:30px;

}

.text-m-box p{
    line-height:0px;
    margin: 45px 0px 25px;

}

.text-m-box{

    position:absolute;
    left: 13%;
    top:42%;
    transform:translate(-13%,-42%);
}

.text-m-box button{
    width:140px;
    height:45px;
    border-radius:8px;
    font-family:Arial ;
    cursor: pointer;

}

.contm-btn{
    border:2px solid #373636;
    background-color:#302f2f;
    color:white;
}

.contm-btn:hover{
    background-color:#373636;
    color:rgb(255, 255, 255);
}

button:active{
    transform:scale(1.1);
}
