body {
    margin: 0;
    background-color: #f6f5f5;
    padding: 0 ;

}

ul {

    list-style: none;
}

a{
    text-decoration: none;

}

section{
    width: 100%;
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./img/bg-hero.jpg") ;
}

nav{
    align-items: center;
    height: 60px;
    justify-content: space-between;
    display: flex;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}

nav ul {
    display: flex;
}

nav ul li a{
    margin: 30px;
    color: #505050;
    font-size:15px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif ;
}

.h-logo{
    font-family: Roboto;
    font-weight:bold;
    color: rgba(12, 8, 8, 0.993);
    font-size:  28px;
   
}

.active{
    font-weight: 800;
    color: #2d2a2a;

}

.text-m-box p:nth-child(1){
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #6d6d6d;
    font-size: 22px;
}

.text-m-box p:nth-child(2){

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
}

.text-m-box p:nth-child(3){

    font-family: Arial, Helvetica, sans-serif;
    color: #403e3e;
    font-size:30px;
    line-height:30px;

}

.text-m-box p{
    line-height:0px;
    margin: 45px 0px 25px;

}

.text-m-box{

    position:absolute;
    left: 13%;
    top:42%;
    transform:translate(-13%,-42%);
}

.text-m-box button{
    width:140px;
    height:45px;
    border-radius:8px;
    font-family:Arial ;
    cursor: pointer;

}

.contm-btn{
    border:2px solid #373636;
    background-color:#302f2f;
    color:white;
}

.contm-btn:hover{
    background-color:#373636;
    color:rgb(255, 255, 255);
}

button:active{
    transform:scale(1.1);
}

.about-container{
    width:80%;
    height:330px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display:flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.about-container img{
    height: 280px;
    border-radius: 10%;
    margin: -25px;
    box-shadow: 2px 2px 3px 3px ;
   
}

.about-text{
    width:800px;
}

.about-text p:nth-child(1){
    color: #403e3e;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height:0px;
}

.about-text p:nth-child(2){
    color: #3e3d3d;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height:5px;
}

.about-text p:nth-child(3),.about-text p:nth-child(4){
    color: #7e7d7d;
    font-family: Arial, Helvetica;
    font-size: 15px;
}

/* education css*/
.education{

    height:600px;
    background-color: #ffffff;
    padding: 2% 10% 0px 10%;
    
}

.edu-details  p:nth-child(1){

    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bold;
    color:  #3e3d3d;
    font-size: 28px;
    line-height:0px;
    padding-left:500px; 
}

.edu-details  p:nth-child(2){

    color: #3e3d3d;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height:5px;
  
}

.edu-details  p:nth-child(3){
    color: #7e7d7d;
    font-family: Arial, Helvetica;
    font-size: 15px;

}

.edu-details {
width:100%;
margin: 50px 0px;
justify-content: center;
align-items: center;

}

/* expirience css  */


.experience{

    height:600px;
    background-color: #eeeeee;
    padding: 2% 10% 0px 10%;
    
}

.exp-details  p:nth-child(1){

    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bold;
    color:  #3e3d3d;
    font-size: 28px;
    line-height:0px;
    padding-left:500px; 
}

.exp-details  p:nth-child(2){

    color: #3e3d3d;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height:5px;
  
}

.exp-details  p:nth-child(3){
    color: #7e7d7d;
    font-family: Arial, Helvetica;
    font-size: 15px;

}

.exp-details {
width:100%;
margin: 50px 0px;
justify-content: center;
align-items: center;

}




.box-1 , .box-2 , .box-3{

    width:300px;
    height:345px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

.box-container{
    display:flex;
    justify-content: space-between;

}
 .box-1{
    background-color: #c5c5c5 ;
}
.box-2{
    background-color: #c5c5c5 ;
}
.box-3{
    background-color: #c5c5c5 ;
}


.box-1 span, .box-2 span , .box-3 span  {
    margin: 3px;
    width:45px;
    height:45px;
    border-radius: 50%;
    background-color:#616060;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 15px;
    font-family: Arial, Helvetica sans-serif;
    font-weight: bold;

}
.box-1 p:nth-child(2), .box-2 p:nth-child(2), .box-3 p:nth-child(2){
    color:#353434;
    font-family: Arial, Helvetica;
    font-size: 23px;
    line-height: 0px;
}

.box-1 p:nth-child(3), .box-2 p:nth-child(3), .box-3 p:nth-child(3) {
    font-family: Arial, Helvetica;
    text-align: center;
    width:230px;
    margin: 0px 0px 20px 0px;
    color:#131212;
    padding:4%;
}

.box-1 button, .box-2 button, .box-3 button {
    width: 100px;
    height: 30px;
    background-color:#353434;
    border:none;
    outline:none;
    border-radius:5px; ;
    color:#ffffff;
}

.contact-me{
    width:100%;
    height:280px;
    background-color:#131212;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.contact-me p{
    color:#f3f3f3;
    font-size: 30px;
    font-family: Arial, Helvetica sans-serif;
    font-weight:bold;
    border-bottom: 2px solid #2d2a2a;
}

.contact-me button{
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    outline:none;
    border:none;
    font-size: 14px;
    font-weight:bold;


}

footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position: relative;
}

footer p{
    font-family: Arial Arial, Helvetica, sans-serif;
}

footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color:#191919;
    line-height:10px;
}
footer p:nth-child(2){
font-size: 16px;
color: #7e7d7d;
width: 600px;
text-align: center;

}

.social-icons{
    display: flex;
}

.social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #e6e3e3;
    margin:20px  10px;
    border-radius: 50%;

}

.social-icons i {
    color:#191919;
}

.social-icons a:hover , .social-icons-h a:hover {
    background-color:#8d8d8d;
    box-shadow: 2px 2 px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s ;
}

.cpt{
  color:#565555;  
  font-size: 15px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%) ;
}

.social-icons-h {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateX(-50%);
}

.social-icons-h a {
    display:flex;
    justify-content:center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}

.social-icons-h i {
    color:#2b2b2b;
    font-size: 20px;

}


/* About us page css*/


.container-one{

    text-align: center;
    justify-content: center;
    margin-top:  350px;
    height: 75vh;
    width: 55%;
    background:rgba(124, 124, 124, 0.6);
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-30%);
    padding-top:120px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;

}

.ab-img{
    height:200px;
    width:200px;
    background:#131212;
    border-radius: 100px;
    position:absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container-one h1 {
  
    font-family:Arial, Helvetica, sans-serif;

}

.container-one ul{
    
    list-style: square;
    font-size: 15px;
}

.container-one li{
    
    margin-top: 20px;
    text-align: left;
    font-family:Arial, Helvetica;
}

/* 3 containers */

/*one*/
.achv-container-one{
    width:70%;
    height:330px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display:flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    margin:20px 40px;
}

.achv-container-one img{
    height: 280px;
    border-radius: 8%;
    margin: -25px;
    
   
}

.achv-text{
    width:600px;
}

.achv-text p:nth-child(1){
    color: #403e3e;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height:0px;
}


.achv-text p:nth-child(2),.about-text p:nth-child(4){
    color: #7e7d7d;
    font-family: Arial, Helvetica;
    font-size: 15px;
}

/*two*/
.achv-container-two{

   
    width:70%;
    height:330px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display:flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    margin:60px 280px;
}

.achv-container-two img{
    height: 280px;
    border-radius: 8%;
    margin: -25px;
    
   
}


/*three*/

.achv-container-three{
    
    width:70%;
    height:330px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display:flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    margin:60px 40px;
}

.achv-container-three img{
    height: 280px;
    border-radius: 8%;
    margin: -25px;
    
   
}

/*four*/

.achv-container-four{
    
    width:70%;
    height:330px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display:flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    margin:60px 280px;
}

.achv-container-four img{
    height: 280px;
    border-radius: 8%;
    margin: -25px;
    
   
}

/*gallary page css */

.gly-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
  }
  
  .gly-container .gly-heading{
    width: 50%;
    padding-bottom: 50px;
  }
  .gly-container  .gly-heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .gly-container .gly-heading h3 span{
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .gly-container .g-box{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }
  
  .gly-container .g-box .g-items{
    display: flex;
    flex-direction: column;
    width: 32.5%;
  }
  
  .gly-container .g-box .g-items img{
    width: 100%;
    padding-bottom: 25px;
    border-radius: 5px;
  }
  
  .gly-container .gly-btn{
    margin: 40px 0 70px 0;
    background: #222;
    padding: 15px 40px ;
    border-radius: 5px;
    font-family: Arial;
    width: 60px;
    height: 20px;
    font-size: 10px;
  }
  
  .gly-container .gly-btn a{
   color: #fff;
   font-size: 1.2em;
   text-decoration: none;
   font-weight: bolder;
   letter-spacing: 3px;
  }
  
  @media only screen and (max-width: 769px){
    .gly-container .gly-box{
     flex-direction: column;
    }
  
  .gly-container .gly-box .g-items{
    width: 100%;
  }
}

  @media only screen and (max-width: 643px){
  .gly-container .gly-heading{
    width: 100%;
  }
}
 
  /* future plans page css */

.future{

    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    text-align: center;
}

.sr-items{

    width: 450px;
    height: 470px;
    background-color: #b4b4b4;
    border-radius: 8px;
    text-align: center;
    margin:15px;

}

.sr-items i{
    width: 100px;
    height: 100px;
    background-color: #303030;
    color: #fff;
    font-size: 32px;
    line-height: 100px;
    border-radius: 50%;
    margin:40px;
}
.sr-items h4{

    font-size: 20px;
    font-weight: 300px;
    margin:10px;
}


.sr-items p{
    font-family: arial;
    font-size:15px;
    font-weight: 400px;
    margin: 40px;
    color: #6a6a6a;
    letter-spacing: 0.5px;
}

.heading h1{
    text-align: center;
    margin: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:40px;
}
